@model CRM.UI.Models.IdenityUserAccess.ManageUserRolesViewModel


@{
    ViewData["Title"] = "Manage User Roles";
}

@section breadcrumb {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="link-primary" asp-area="" asp-controller="Home" asp-action="Dashboard">
                    <i class="bi bi-house-door"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="breadcrumb-item">Manage User Roles</li>
        </ol>
    </nav>
}

<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title table-title">
                        Manage Roles for User : <b>@Model.Email</b>
                    </h5>
                    <div class="itemContainer">
                        @* <div class="item">
                            <a class=" " asp-action="Create">
                                <i class="bx-fw bx bx-plus bx-xs bx-spin-hover"
                                   style="font-weight:bold"></i>Create Role
                            </a>
                        </div>
                        <div class="item">
                            <a class=" " asp-action="Excel">
                                <i class="ri-file-excel-line"></i>Excel
                            </a>
                        </div> *@
                    </div>
                    <form asp-controller="UserRoles" method="post" asp-action="update"
                        asp-route-id="@Model.UserId" class="d-inline">
                        <input asp-for="@Model.UserId" type="hidden" />
                        <table class="table table-hover table-bordered">
                            <thead class="table-info">
                                <tr>
                                    <th>
                                        Role
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.UserRoles.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            <input asp-for="@Model.UserRoles[i].RoleName" type="hidden" />
                                            @Model.UserRoles[i].RoleName
                                        </td>
                                        <td>
                                            <div class="form-check m-1">
                                                <input asp-for="@Model.UserRoles[i].Selected" class="form-check-input" />
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col-sm-12" style=" padding: 20px 20px 0px 0px">
                            <button type="submit" id="save" class="btn btn-primary">
                                <i class="fa fa-check"></i>
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

