@model MGMTApp.WebApp.Models.PersonViewModel
@{
    ViewData["Title"] = "Person";

    var isMobileBool = (bool)@Context.Items["isMobile"];
    string isMobile = "false";
    if (isMobileBool == true)
    {
        isMobile = "true";
    }
}

@Html.AntiForgeryToken()

@section BreadCrumbs
{

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Person</li>
    </ol>
}

@section Styles {

}

@*<h1>Person</h1>*@

<section class="section">
    <div class="row">

        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Person
                    </h5>
                    <div class="d-flex flex-row">
                        <a title="New bay" class="btn btn-outline-primary btn-sm border border-white" href="#"
                           data-jqueryselector="openmodal"
                           data-modalcontainer="modalcontainer"
                           data-modalpopupwidth="rightw35"
                           data-url='@Url.Action("PersonCreate", "Person")'
                           @*data-url='@Url.Action("PersonCreate", "Masters", new { Area = "DMS" })'*@
                           data-statichtmlsourcedivid=""
                           data-modaltitle="New"
                           data-modalheader="New">
                            <i class="fas fa-plus"></i> Create
                        </a>

                        <a style="float:right" class="btn btn-outline-success btn-sm border border-white mx-2 ml-auto"
                           href="#"
                           data-jqueryselector="binarydownload"
                           data-url="@(Url.Action("PersonExcelDownload", "Person"))">
                            @*data-url="@(Url.Action("PersonExcelDownload", "Person", new { Area = "DMS" }))">*@
                            <i class="fas fa-file-excel green-color"></i>&nbsp;Export
                        </a>
                    </div>
                    <!-- Floating Labels Form -->
                    @*<form class="row g-3 needs-validation was-validated">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name" required>
                                    <label for="floatingName">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email" required>
                                    <label for="floatingEmail">Your Email</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Address" rows="2"
                                              id="floatingTextarea" style="height: 100px;" required></textarea>
                                    <label for="floatingTextarea">Address</label>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form>*@
                    <!-- End floating Labels Form -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbGrid" class="table table-striped table-bordered table-responsive-lg  ">
                        @if (isMobileBool == false)
                        {
                            <thead class="bg-info text-white">
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
           var isMobile = @isMobile.ToString();;
           var datatableColumns;

        $(document).ready(function () {

            loadDataTable();

        function localScript() {

        }

            function loadDataTable() {
                if (isMobile == false) {
                        datatableColumns = [
                        { 'data': "userName" },
                        { 'data': "email" },
                        { 'data': "address" },
                        {
                        data: null,
                            render: function(data, type, row) {
                                return '<button title="Edit" class="btn btn-outline-primary btn-sm border-none" ' +
                                    ' data-jqueryselector="openmodal" ' +
                                    ' data-modalcontainer="modalcontainer" ' +
                                    ' data-url="@Url.Action("PersonEdit", "Person")"' +
                                    ' data-modalpopupwidth="rightw35" ' +
                                    ' data-id="' + data.id + '"' +
                                    ' data-modaltitle="edit" ' +
                                    ' data-modalheader="edit" >' +
                                    ' <i class="fas fa-edit" aria-hidden="true"></i> ' +
                                    ' </button>';
                            },
                            className: "td-icon",
                        },
                    ];
                } else {
                    datatableColumns = [
                       {
                                data: null,
                                render: function (data, type, row) {
                                    var item = '<div class="card">';
                                    item += '<div class="card-mobiledatatable">';
                                    item += '<a href="Building/Detail/' + data.buildingId + '">';
                                    item += '<dl class="row margin-bottom-0"><dt class="col-lg-4">' + '@Html.DisplayNameFor(model => model.UserName)' + '</dt><dd class="col-lg-8">' + data.userName + '</dd></dl>';
                                    item += '<dl class="row margin-bottom-0"><dt class="col-lg-4">' + '@Html.DisplayNameFor(model => model.Email)' + '</dt><dd class="col-lg-8">' + data.email + '</dd></dl>';
                                    item += '<dl class="row margin-bottom-0"><dt class="col-lg-4">' + '@Html.DisplayNameFor(model => model.Address)' + '</dt><dd class="col-lg-8">' + data.address + '</dd></dl>';
                                    item += '</a></div></div>';
                                    return item
                                },
                                sortable: false,
                                searchable: false,
                                className: "datatable-td-mobile"
                            }
                    ];
                }

                let vPersonDataTableList = "@Url.Action("GetListsPerson", "Person")";
                    genericLoadDataTable({
                pDataTableId: "#tbGrid",
                    pColumns: datatableColumns,
                    pUrl: vPersonDataTableList,
                    pUrlParams: {
                    genericSearch: $('#GenericSearch').val() ? $('#GenericSearch').val() : null,
                        },
                    pRequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    });

        };
            //$("#GenericSearch").keypress(function (event) {
            //    if (event.keyCode === 13) {
            //        if ($("#GenericSearch").length) {
            //            loadDataTable();
            //        }
            //    }
            //});

            //$('#buttonSearch').on('click', function () {
            //    if ($("#GenericSearch").length) {
            //        loadDataTable();
            //    }
            //});

        });
    </script>
}